flows (1) (1).json
[{"id":"a8f38bcfac6f0020","type":"ui_form","z":"4b9c77f31a7faebc","name":"","label":"","group":"dcfb97e94a3d666a","order":4,"width":0,"height":0,"options":[{"label":"Age","value":"Age","type":"number","required":true,"rows":null},{"label":"Sex","value":"Sex","type":"text","required":true,"rows":null},{"label":"Job","value":"Job","type":"number","required":true,"rows":null},{"label":"Housing","value":"Housing","type":"text","required":true,"rows":null},{"label":"Saving_account","value":"Saving_account","type":"text","required":true,"rows":null},{"label":"Checking_account","value":"Checking_account","type":"text","required":true,"rows":null},{"label":"Credit_amount","value":"Credit_amount","type":"number","required":true,"rows":null},{"label":"Duration","value":"Duration","type":"number","required":true,"rows":null},{"label":"Purpose","value":"Purpose","type":"text","required":true,"rows":null}],"formValue":{"Age":"","Sex":"","Job":"","Housing":"","Saving_account":"","Checking_account":"","Credit_amount":"","Duration":"","Purpose":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":110,"y":160,"wires":[["e1c01d94f7a846c2"]]},{"id":"0e3718950834e9d7","type":"debug","z":"4b9c77f31a7faebc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":40,"wires":[]},{"id":"e1c01d94f7a846c2","type":"function","z":"4b9c77f31a7faebc","name":"gloabal variables for form node","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Sex\",msg.payload.Sex)\nglobal.set(\"Job\",msg.payload.Job)\nglobal.set(\"Housing\",msg.payload.Housing)\nglobal.set(\"Saving_account\",msg.payload.Saving_account)\nglobal.set(\"Checking_account\",msg.payload.Checking_account)\nglobal.set(\"Credit_amount\",msg.payload.Credit_amount)\nglobal.set(\"Duration\",msg.payload.Duration)\nglobal.set(\"Purpose\",msg.payload.Purpose)\nvar apikey =\"zpzqezysTc8Ee55u55Y8q8VoLmYtLroZ0rQuGfLjEh0E\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":140,"wires":[["0e3718950834e9d7","2c77ed55a1d6307d","ce7954c03bba0d0c"]]},{"id":"2c77ed55a1d6307d","type":"http request","z":"4b9c77f31a7faebc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":550,"y":160,"wires":[["5611c2a0f113e18c","4d086857dfe620ce"]]},{"id":"5611c2a0f113e18c","type":"debug","z":"4b9c77f31a7faebc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":60,"wires":[]},{"id":"4d086857dfe620ce","type":"function","z":"4b9c77f31a7faebc","name":"pre prediction","func":"var Age = global.get(\"Age\")\nvar Sex = global.get(\"Sex\")\nvar Job = global.get(\"Job\")\nvar Housing = global.get(\"Housing\")\nvar Saving_accounts = global.get(\"Saving_accounts\")\nvar Checking_account = global.get(\"Checking_account\")\nvar Credit_amount = global.get(\"Credit_amount\")\nvar Duration = global.get(\"Duration\")\nvar Purpose = global.get(\"Purpose\")\n\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Sex\", \"Job\",\"Housing\", \"Saving_accounts\",\"Checking_account\",\"Credit_amount\",\"Duration\",  \"Purpose\"]],\"values\": [[Age, Sex, Job,Housing,Saving_accounts,Checking_account,Credit_amount,Duration,Purpose]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":240,"wires":[["a27f1b27e2d106cf","c44615045f315b32"]]},{"id":"a27f1b27e2d106cf","type":"http request","z":"4b9c77f31a7faebc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/51f079c0-02e0-4a90-82eb-fa18b9de0559/predictions?version=2022-06-03","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":810,"y":160,"wires":[["5fd84d9d283a02bf","1ee47c3621ae2e1e"]]},{"id":"5fd84d9d283a02bf","type":"debug","z":"4b9c77f31a7faebc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":60,"wires":[]},{"id":"1ee47c3621ae2e1e","type":"function","z":"4b9c77f31a7faebc","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":180,"wires":[["86e98d3501eea3de","5ee684a9b89af946"]]},{"id":"86e98d3501eea3de","type":"debug","z":"4b9c77f31a7faebc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":400,"wires":[]},{"id":"5ee684a9b89af946","type":"ui_text","z":"4b9c77f31a7faebc","group":"dcfb97e94a3d666a","order":5,"width":0,"height":0,"name":"","label":"Risk is","format":"{{msg.payload}}","layout":"row-spread","className":"","x":910,"y":240,"wires":[]},{"id":"ce7954c03bba0d0c","type":"debug","z":"4b9c77f31a7faebc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":240,"wires":[]},{"id":"c44615045f315b32","type":"debug","z":"4b9c77f31a7faebc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":340,"wires":[]},{"id":"dcfb97e94a3d666a","type":"ui_group","name":"Enter the values","tab":"dcae3c41b947a2b8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"dcae3c41b947a2b8","type":"ui_tab","name":"Financial Risk Prediction","icon":"dashboard","disabled":false,"hidden":false}]