flows (1).json
[{"id":"f0262213b93aeb9d","type":"ui_form","z":"ef1539fa3ecfdcba","name":"","label":"","group":"50c32bbdfe49e3f6","order":0,"width":0,"height":0,"options":[{"label":"Dependents","value":"dependents","type":"number","required":true,"rows":null},{"label":"ApplicantIncome","value":"applicant income","type":"number","required":true,"rows":null},{"label":"CoApplicantIncome","value":"co-applicant income","type":"number","required":true,"rows":null},{"label":"Loan Amount","value":"loan amount","type":"number","required":true,"rows":null},{"label":"LoanTerm","value":"loan term","type":"number","required":true,"rows":null}],"formValue":{"dependents":"","applicant income":"","co-applicant income":"","loan amount":"","loan term":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":80,"wires":[["212835212676ccc9"]]},{"id":"c447f172294ed89b","type":"ui_dropdown","z":"ef1539fa3ecfdcba","name":"","label":"Select your sex","tooltip":"","place":"Select option","group":"50c32bbdfe49e3f6","order":1,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"Female","value":"0","type":"str"},{"label":"Male","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":200,"y":140,"wires":[["e8f5102bb5923c19"]]},{"id":"e777a2f17fe687b0","type":"ui_dropdown","z":"ef1539fa3ecfdcba","name":"","label":"Marital Status","tooltip":"","place":"Select option","group":"50c32bbdfe49e3f6","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Unmarried","value":"0","type":"str"},{"label":"Married","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":200,"y":200,"wires":[["c1a0f1134bb254bd"]]},{"id":"98510830614ab91b","type":"ui_dropdown","z":"ef1539fa3ecfdcba","name":"","label":"Education","tooltip":"","place":"Select option","group":"50c32bbdfe49e3f6","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Uneducated","value":"0","type":"str"},{"label":"Educated","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":180,"y":260,"wires":[["642ef86b0ba1d22e"]]},{"id":"ca67bd97b90ab604","type":"ui_dropdown","z":"ef1539fa3ecfdcba","name":"","label":"Employment type","tooltip":"","place":"Select option","group":"50c32bbdfe49e3f6","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Salaried","value":"0","type":"str"},{"label":"Self Employed","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":210,"y":320,"wires":[["b765e09a29e6cccd"]]},{"id":"1c02364300d5aad4","type":"ui_dropdown","z":"ef1539fa3ecfdcba","name":"","label":"Credit History Available","tooltip":"","place":"Select option","group":"50c32bbdfe49e3f6","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"No","value":"0","type":"str"},{"label":"Yes","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":230,"y":380,"wires":[["40253930b4f15827"]]},{"id":"f39ca0834cc4b0bf","type":"ui_dropdown","z":"ef1539fa3ecfdcba","name":"","label":"Housing","tooltip":"","place":"Select option","group":"50c32bbdfe49e3f6","order":6,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"No","value":"0","type":"str"},{"label":"Yes","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":180,"y":440,"wires":[["9070ef640ac61c05"]]},{"id":"1317bae9866775ed","type":"ui_dropdown","z":"ef1539fa3ecfdcba","name":"","label":"Locality","tooltip":"","place":"Select option","group":"50c32bbdfe49e3f6","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"In State","value":"1","type":"str"},{"label":"Out State","value":"2","type":"str"},{"label":"International","value":"3","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":180,"y":500,"wires":[["6896253b1ce7b65c"]]},{"id":"08bc8f450c2b49d0","type":"debug","z":"ef1539fa3ecfdcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":100,"wires":[]},{"id":"181fa7de286f8101","type":"debug","z":"ef1539fa3ecfdcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"d41eab8f5727cd26","type":"debug","z":"ef1539fa3ecfdcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":200,"wires":[]},{"id":"1ed7e1f9a8c5942b","type":"debug","z":"ef1539fa3ecfdcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"342f4c8c97d3a8c4","type":"debug","z":"ef1539fa3ecfdcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"eb9bfe0d0cb6d55f","type":"debug","z":"ef1539fa3ecfdcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":380,"wires":[]},{"id":"fe54460a3f5f16f8","type":"debug","z":"ef1539fa3ecfdcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":440,"wires":[]},{"id":"67f25b037387bba6","type":"debug","z":"ef1539fa3ecfdcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":500,"wires":[]},{"id":"212835212676ccc9","type":"function","z":"ef1539fa3ecfdcba","name":"global variables for form node","func":"global.set(\"Dependents\",msg.payload.a)\nglobal.set(\"ApplicantIncome\",msg.payload.b)\nglobal.set(\"CoapplicantIncome\",msg.payload.c)\nglobal.set(\"LoanAmount\",msg.payload.d)\nglobal.set(\"Loan_Term\",msg.payload.e)\nvar apikey =\"Mm7nIe5NsYWH5gqo3zM9TFt_sNtMkE9FCeUJ90oNWJHp\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":80,"wires":[["08bc8f450c2b49d0","7da269d7eaa3e46b"]]},{"id":"e8f5102bb5923c19","type":"function","z":"ef1539fa3ecfdcba","name":"sex","func":"global.set(\"sex\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":140,"wires":[["181fa7de286f8101"]]},{"id":"c1a0f1134bb254bd","type":"function","z":"ef1539fa3ecfdcba","name":"marital status","func":"global.set(\"marital status\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":200,"wires":[["d41eab8f5727cd26"]]},{"id":"642ef86b0ba1d22e","type":"function","z":"ef1539fa3ecfdcba","name":"education","func":"gloabal.set(\"education\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":260,"wires":[["1ed7e1f9a8c5942b"]]},{"id":"b765e09a29e6cccd","type":"function","z":"ef1539fa3ecfdcba","name":"employment type","func":"gloabal.set(\"employment type\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":320,"wires":[["342f4c8c97d3a8c4"]]},{"id":"40253930b4f15827","type":"function","z":"ef1539fa3ecfdcba","name":"credithistory","func":"gloabal.set(\"credithistory\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":380,"wires":[["eb9bfe0d0cb6d55f"]]},{"id":"9070ef640ac61c05","type":"function","z":"ef1539fa3ecfdcba","name":"housing","func":"gloabal.set(\"housing\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":440,"wires":[["fe54460a3f5f16f8"]]},{"id":"6896253b1ce7b65c","type":"function","z":"ef1539fa3ecfdcba","name":"locality","func":"gloabal.set(\"locality\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":500,"wires":[["67f25b037387bba6"]]},{"id":"7da269d7eaa3e46b","type":"http request","z":"ef1539fa3ecfdcba","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":790,"y":40,"wires":[["10a75afd1d0bef92","e2465c680abe0533"]]},{"id":"10a75afd1d0bef92","type":"function","z":"ef1539fa3ecfdcba","name":"","func":"var sex = global.get(\"sex\")\nvar maritalstatus = global.get(\"maritalstatus\")\nvar dependents = global.get(\"dependents\")\nvar education = global.get(\"education\")\nvar employmenttype = global.get(\"employmenttype\")\nvar applicantincome = global.get(\"applicantincome\")\nvar coapplicantincome = global.get(\"coapplicantincome\")\nvar loanamount = global.get(\"loanamount\")\nvar loanterm = global.get(\"loanterm\")\nvar credit_history_availablity = global.get(\"credit_history_availablity\")\nvar housing = global.get(\"housing\")\nvar locality = global.get(\"locality\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"sex\", \"maritalstatus\", \"dependents\", \"education\", \"employmenttype\", \"applicantincome\", \"coapplicantincome\", \"loanamount\", \"loanterm\", \"credit_history_availablity\", \"housing\", \"locality\"]],\"values\": [[sex, maritalstatus, dependents, education, employmenttype, applicantincome, coapplicantincome, loanamount, loanterm, credit_history_availablity, housing, locality]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":40,"wires":[["f9f9ed394bd86ff7"]]},{"id":"e2465c680abe0533","type":"debug","z":"ef1539fa3ecfdcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":100,"wires":[]},{"id":"f9f9ed394bd86ff7","type":"http request","z":"ef1539fa3ecfdcba","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/27e533db-7da0-4433-854d-ac56cf0fe370/predictions?version=2022-05-23","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1210,"y":60,"wires":[["0e7e5b81ed98df52","d37131daaf65ae70"]]},{"id":"0e7e5b81ed98df52","type":"function","z":"ef1539fa3ecfdcba","name":"","func":"msg.payload = msg.(payload)\nreturn msg;","outputs":1,"noerr":4,"initialize":"","finalize":"","libs":[],"x":1440,"y":80,"wires":[["413dc49412ba09ac","d38c6c5be7a7e09c"]]},{"id":"d37131daaf65ae70","type":"debug","z":"ef1539fa3ecfdcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":180,"wires":[]},{"id":"413dc49412ba09ac","type":"ui_text","z":"ef1539fa3ecfdcba","group":"50c32bbdfe49e3f6","order":8,"width":0,"height":0,"name":"","label":"Chances of Fraud","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1650,"y":60,"wires":[]},{"id":"d38c6c5be7a7e09c","type":"debug","z":"ef1539fa3ecfdcba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1670,"y":140,"wires":[]},{"id":"50c32bbdfe49e3f6","type":"ui_group","name":"Enter the values","tab":"c69e77ad0c9ae591","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c69e77ad0c9ae591","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]